{% extends '_layouts/_default.njk' %}
{% set pageTitle = 'ぶり大根のカレー炒め｜健康レシピ｜[公式]アサヒカルピスウェルネスショップ' %}
{% set pageDescription = 'EPA豊富な“おいしいごはん”「ぶり大根のカレー炒め」をご紹介します。' %}
{% set pagekeywords = '' %}

{% block css -%}{% endblock %}

{% block contents -%}
		<main>

			<div class="recipe__wrap">

				<div class="recipe__heading">
					<img class="hidden__sp" src="./assets/images/img_heading.png" alt="EPA豊富な“おいしいごはん” ぶり大根のカレー炒め">
					<img class="hidden__pc" src="./assets/images/img_heading_sp.png" alt="EPA豊富な“おいしいごはん” ぶり大根のカレー炒め">
				</div>

				<div class="recipe__desc">
					<p><strong>カレー味で食欲＆元気もアップ</strong><br>
					煮物でお馴染みのぶり大根を、カレー味でいつもと違ったメニューに！<br class="hidden__sp">冬においしいぶりは、EPA・DHAがとても豊富。<br class="hidden__sp">ビタミンCを含む大根と合わせて、冬を元気に過ごしましょう。</p>
				</div>

				<div class="recipe__detail">
					<div class="photo">
						<img src="./assets/images/img_photo.png" alt="">
					</div>
					<div class="text">
						<div class="title">
							<h3>材料（2人分）</h3>
							<span class="tag"><img src="./assets/images/img_tag.png" alt="ヘルシー" width="43"></span>
						</div>
						<div class="ingredient">
							<img class="hidden__sp" src="./assets/images/img_ingredient.png" alt="材料" width="334">
							<img class="hidden__pc" src="./assets/images/img_ingredient_sp.png" alt="材料" width="">
						</div>
					</div>
				</div>

				<div class="recipe__make">
					<div class="title">
						<h3>作り方</h3>
					</div>
					<ul class="list">
						<li>
							<span class="num"><img src="./assets/images/num_01.png" alt="①" width="25"></span>
							<p class="text">ぶりは食べやすい大きさに切って塩、こしょうする。大根は1cm幅の半月切り、万能ねぎは小口切りにする。</p>
						</li>
						<li>
							<span class="num"><img src="./assets/images/num_02.png" alt="②" width="25"></span>
							<p class="text">フライパンに半分の油を熱して、小麦粉をまぶしたぶりを両面こんがりと焼いて取り出す。フライパンをきれいにして残りの油を入れ、大根を炒めてぶりを戻し入れて、<img class="text_num" src="./assets/images/num_a.png" alt="A" width="19">を加えて炒め合わせる。</p>
						</li>
						<li>
							<span class="num"><img src="./assets/images/num_03.png" alt="③" width="25"></span>
							<p class="text">器に盛り付けて万能ねぎを散らす。</p>
						</li>
					</ul>
				</div>
			</div>

		</main>

{%- endblock %}

{% block js -%}{% endblock %}