

        <footer class="site-footer">
            <div class="site-footer__inner">
                <p><small>&copy; Asahi Group Foods, Ltd. All rights reserved.</small></p>
            </div>
        </footer>

