{%- if pageDescription -%}
{%- set description = pageDescription -%}{%- else -%}
{%- set description = data.meta.description -%}
{%- endif -%}
{%- if pageKeywords -%}
{%- set keywords = pageKeywords -%}{%- else -%}
{%- set keywords = data.meta.keywords -%}
{%- endif -%}
{%- if pageTitle -%}
{%- set title = pageTitle -%}{%- else -%}
{%- set title = sitename -%}
{%- endif -%}
{% set sitename = 'Sitename' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <meta name="keywords" content="{{ pageKeywords }}">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="https://www.calpis-shop.jp/recipe/19/">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.calpis-shop.jp/recipe/19/">
    <meta property="og:locate" content="ja_JP">
    <meta property="og:site_name" content="{{ pageTitle }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ pageDescription }}">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.calpis-shop.jp/favicon.ico">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">